.ant-tabs {
  .ant-tabs-nav {
    .ant-tabs-tab-active {
      .ant-tabs-tab-btn {
        background: linear-gradient(to right, #7462f9 35%, #df3ef8 100%);
        background-clip: text;
        -webkit-background-clip: text; /* For Safari and Chrome */
        color: transparent; /* Makes the text itself transparent */
        -webkit-text-fill-color: transparent; /* Ensures the text fill is transparent */
      }
    }
  }
  .ant-tabs-tabpane {
    min-height: 40vh;
  }
}

.ant-tabs-ink-bar {
  background: linear-gradient(to right, #7462f9 35%, #df3ef8 100%);
}
